<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>REDFLOW</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="images/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="/vendor/aos/aos.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span><b><big style="color: rgb(224, 53, 53);">RED</big>FLOW</span></b></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="/">Home</a></li>
          <li class="dropdown"><a href="#"><span>How to Donate</span> <i class="bi bi-chevron-down"></i></a>
            <!-- <li class="dropdown"><a href=""><span>How to Donate</span> <i class="bi bi-chevron-right"></i></a> -->
              <ul>
                <li><a href="/eligibility">Eligibility Requirements</a></li>
                <li><a href="/typesOfBD">Types of Blood Donations</a></li>
                <li><a href="/learnAboutBlood">Learn About Blood</a></li>
                <li><a href="/commonConcerns">Common Concerns</a></li>
              </ul>
            </li>
          <li><a class="nav-link scrollto" href="/bloodProducts">Blood Products</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li class="dropdown"><a href="#"><span>Basic Rules</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="/rulesDonors">For Donors</a></li>
                <li><a href="/rulesRecipients">For Recipients</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="/user">Contact</a></li>
            <li><a class="getstarted scrollto" href="/user">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  
  <div class="container pt-5">
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <p style="color: rgb(224, 53, 53); font-style:italic; font-size: 50px; text-align: center;">Blood Products</p>
        <span style="color: gray; font-style:italic; text-align: center;">We provide locations with the following lifesaving blood products 24 hours a day, 365 days a year.</span>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
            <img src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/biomedical-services/components/red-blood-cells.jpg.transform/1288/q82/feature/image.jpeg" class="img-fluid" alt="" data-aos="zoom-in">
            <hr>
            <h4 class="title"><a href="" style="color: rgb(224, 53, 53);">RED BLOOD CELLS</a></h4>
            <p class="description">
              <ul>
                <li style="text-align: left;">Leukocyte-reduced</li>
                <li style="text-align: left;">CMV negative</li>
                <li style="text-align: left;">Irradiated</li>
                <li style="text-align: left;">Deglycerolized</li>
                <li style="text-align: left;">Washed</li>
                <li style="text-align: left;">For pediatric use</li>
                <li style="text-align: left;">Frozen</li>
                <li style="text-align: left;">Antigen negative</li>
              </ul>
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
              <img src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/biomedical-services/components/platelets.jpg.transform/1288/q82/feature/image.jpeg" class="img-fluid" alt="" data-aos="zoom-in">
              <hr>
              <h4 class="title"><a href="" style="color: rgb(224, 53, 53);">PLATELETS</a></h4>
            <p class="description">
              <ul>
                <li style="text-align: left;">Platelets pheresis, leukocyte-reduced</li>
                <li style="text-align: left;">Platelets pheresis irradiated</li>
                <li style="text-align: left;">Platelets pheresis, CMV-negative</li>
                <li style="text-align: left;">Platelets pheresis, HLA matched</li>
                <li style="text-align: left;">Platelets pheresis, HPA-1a (PLA1) negative</li>
                <li style="text-align: left;">Platelet additive solution (PAS) platelets</li>
                <li style="text-align: left;">Pathogen reduced platelets (in PAS) </li>
              </ul>
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
              <img src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/biomedical-services/components/plasma-blood.jpg.transform/1288/q82/feature/image.jpeg" class="img-fluid" alt="" data-aos="zoom-in">
              <hr>
              <h4 class="title"><a href="" style="color: rgb(224, 53, 53);">PLASMA</a></h4>
            <p class="description">
              <ul>
                <li style="text-align: left;">Plasma frozen within 24 hours (PF24)</li>
                <li style="text-align: left;">Plasma held at room temperature for up to 24 hours (PF24RT24</li>
                <li style="text-align: left;">Fresh frozen plasma (FFP)</li>
                <li style="text-align: left;">Plasma, cryoprecipitate reduced</li>
                <li style="text-align: left;">Cryoprecipitated AHF</li>
                <li style="text-align: left;">Cryoprecipitated AHF, pooled</li>
                <li style="text-align: left;">Liquid plasma</li>
              </ul>
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
              <img src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/biomedical-services/components/whole-blood.jpg.transform/1288/q82/feature/image.jpeg" class="img-fluid" alt="" data-aos="zoom-in">
              <hr>
              <h4 class="title"><a href="" style="color: rgb(224, 53, 53);">WHOLE BLOOD</a></h4>
            <p class="description">
              <ul>
                <li style="text-align: left;">Leukocyte-reduced and non-leukocyte reduced</li>
                <li style="text-align: left;">Other available features: CMV negative, Irradiated, for pediatric use</li>
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
              <img src="https://www.redcrossblood.org/content/dam/redcrossblood/rcb/biomedical-services/components/blood-research.jpg.transform/1288/q82/feature/image.jpeg" class="img-fluid" alt="" data-aos="zoom-in">
              <hr>
              <h4 class="title"><a href="" style="color: rgb(224, 53, 53);">BLOOD PRODUCTS FOR RESEARCH</a></h4>
            <p class="description">
              <ul>
                <li style="text-align: left;">Whole blood</li>
                <li style="text-align: left;">Red blood cells</li>
                <li style="text-align: left;">Platelets</li>
                <li style="text-align: left;">Source leukocytes</li>
                <li style="text-align: left;">Mononuclear cells</li>
                <li style="text-align: left;">Other products by request</li>
              </ul>
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>
  </div>

  
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3><Big style="color: rgb(224, 53, 53);"><b>RED</Big>FLOW</b></h3>
            <p>
              <strong>Phone:</strong> +00801757769409<br>
              <strong>Email:</strong> redflow@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Log in</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Register</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Find Blood</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Find Donors</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="credits">
        Powerd by <a href="https://bootstrapmade.com/">redflow</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<script src="vendor/aos/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<script src="vendor/glightbox/js/glightbox.min.js"></script>
<script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="vendor/swiper/swiper-bundle.min.js"></script>
<script src="vendor/php-email-form/validate.js"></script>
<script src="js/main.js"></script>
</body>
</html>