<section id="about" class="about">
  <div class="container">
    <div class="row justify-content-between">
      <div
        class="col-lg-5 d-flex align-items-center justify-content-center about-img"
      >
        <img
          src="images/images-removebg-preview (1).png"
          class="img-fluid"
          alt=""
          data-aos="zoom-in"
        />
      </div>
      <div class="col-lg-6 pt-5 pt-lg-5">
        <h3 data-aos="fade-up">About Us</h3>
        <p data-aos="fade-up" data-aos-delay="100">
          <b>REDFLOW</b> intends to help people in need of blood find blood
          donors. The recipients can search donors efficiently using area and
          blood type filters. Many people have successfully found donors using
          this platform. We are glad to bring together and connect people for
          this cause.
        </p>
        <div>
          <a href="/contact"
            ><button class="btn btn-danger" type="button">
              Contact With Us!!
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
