<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="logo">
      <h1 class="text-light"><a href="/"><img src="images/favicon.png" width="60px" height="120px"><span><b><big style="color: rgb(224, 53, 53);">RED</big>FLOW</span></b></a></h1>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto" href="/">Home</a></li>
        <li><a class="nav-link scrollto" href="/about">About</a></li>
        <li class="dropdown">
          <a href="#"
            ><span>How to Donate</span> <i class="bi bi-chevron-down"></i
          ></a>
          <!-- <li class="dropdown"><a href=""><span>How to Donate</span> <i class="bi bi-chevron-right"></i></a> -->
          <ul>
            <li><a href="/eligibility">Eligibility Requirements</a></li>
            <li><a href="/typesOfBD">Types of Blood Donations</a></li>
            <li><a href="/learnAboutBlood">Learn About Blood</a></li>
            <li><a href="/commonConcerns">Common Concerns</a></li>
          </ul>
        </li>
        <li>
          <a class="nav-link scrollto" href="/bloodProducts">Blood Products</a>
        </li>
        <li class="dropdown">
          <a href="#"
            ><span>Basic Rules</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul>
            <li><a href="/rulesDonors">For Donors</a></li>
            <li><a href="/rulesRecipients">For Recipients</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
        <li>
          <a class="getstarted scrollto" href="/selectUser">Get Started</a>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
