<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row gy-4">
      <div
        class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1>Urgent Need for Blood Donors</h1>
        <h2>
          <b>REDFLOW</b> is intended to help people in the need of blood, find
          the required blood by connecting with donors online.
        </h2>
        <div>
          <a href="/user" class="btn-get-started scrollto">Register</a>
          <a href="/selectUser" class="btn-get-started scrollto">Login</a>
          <a href="/pharmacyUser" class="btn-get-started scrollto">Add Your Pharmacy to find Blood</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img
          src="images/image01-removebg-preview (1).png"
          class="img-fluid animated"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
