<section id="services" class="services section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Services</h2>
      <p>Check out the great services we offer</p>
    </div>

    <div class="row">
      <div
        class="col-md-6 col-lg-4 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <div class="icon-box">
          <!-- <div class="icon"><i class="bx bxl-dribbble"></i></div> -->
          <img
            src="images/card1.png"
            class="img-fluid"
            alt=""
            data-aos="zoom-in"
          />
          <h4 class="title"><a href="">NEED BLOOD</a></h4>
          <p class="description">
            If you are in need of blood donor, then you have come to the right
            place. We can help you search for donors.
          </p>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-4 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="200"
      >
        <div class="icon-box">
          <img
            src="images/card2.png"
            class="img-fluid"
            alt=""
            data-aos="zoom-in"
          />
          <h4 class="title"><a href="">FIND DONOR</a></h4>
          <p class="description">
            You can find blood donors in your area and can also place blood
            requests to find the required donor.
          </p>
        </div>
      </div>

      <div
        class="col-md-6 col-lg-4 d-flex align-items-stretch"
        data-aos="zoom-in"
        data-aos-delay="300"
      >
        <div class="icon-box">
          <img
            src="images/card3.png"
            class="img-fluid"
            alt=""
            data-aos="zoom-in"
          />
          <h4 class="title"><a href="">SAVE LIFE</a></h4>
          <p class="description">
            You can help save someone's life by logging in as a donor and
            accepting their blood requests.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
